* {
	font-family: JetBrainsMono Nerd Font;
	font-size: 16px;
	font-weight: bold;
}

window#waybar {
	background-color: transparent;
}

#clock,
#memory,
#cpu,
#workspaces,
#pulseaudio,
#language {
	padding: 0px 10px;
	background-color: #3584e4;
	color: white;
	margin: 2px 5px;
	border-radius: 10px;
}

#tray {
	background-color: transparent;
	color: white;
	margin: 5px 5px;
}

#workspaces {
	padding: 0px 6px;
	margin: 2px 5px;
}

#workspaces button {
	background-color: #3584e4;
	border-radius: 9999px;
	margin: 0px 0px;
	color: black;
	padding: 5px 6px;
	border: none;
	box-shadow: none;
	transition: background-color 0.2s ease;
}

#workspaces button:hover {
	border: none 0px;
	box-shadow: none;
	background-color: #1c4a8c;
	padding: 5px 6px;
	margin: 0px 0px;
}

#workspaces button.focused {
	background-color: #3584e4;
	color: white;
}

#workspaces button.urgent {
	background-color: white;
}
